body {
    color: #fff;
        min-width: 100%;
}
.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%
}
.background {
    padding-bottom: 100px;
    padding-top: 100px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(26,26,26,0.7),rgba(26,26,26,0.7)), url("http://umad.com/img/2015/5/waterfall-gif-8893-9251-hd-wallpapers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.navigation {
    position: relative;
    width:100%;
}

.navigation li{
    float: left;
    width:33.33333%
}

.navigation ul {
    text-align: center;
 list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;    
}

.navigation a {
    font-family: "Indie Flower";
    font-size: em(40);
    display: block; 
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.navigation a:hover {
   background-color: #111;
}

.navigation summary:hover{
    color: #ff0000;
}

.rectangle {
    position: relative;
    width: 100%;
    height: 100px;
    background: #333;
}

footer {
    padding-top: 35px;
    font-family: "Indie Flower";
    text-align: center;
}

p {
    font-family: "Indie Flower";
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

h1 {
    font-family: "Indie Flower";
    text-align: center;
}